{% extends "base.html" %}

{% block content %}
  <h1>Hi, {{ current_user.username }}</h1>
  {% if form %}
  <form action="" method="POST">
    {{ form.hidden_tag() }}
    <p>
      {{ form.title.label }}<br>
      {{ form.title(size=64) }}<br>
      {% for error in form.title.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      {{ form.author.label }}<br>
      {{ form.author(size=64) }}<br>
      {% for error in form.author.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      {{ form.date_of_purchase.label }}<br>
      {{ form.date_of_purchase(size=64) }}<br>
      {% for error in form.date_of_purchase.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      {{ form.notes.label }}<br>
      {{ form.notes(size=128)}}
      {% for error in form.notes.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      {{ form.submit }}
    </p>
  </form>
  {% endif %}
{% endblock %}